body {
  background-image: url("../orange-back.png");
  background-size: 100% 100%;
	background-attachment:fixed;
  font-family: sans-serif;
}

img{
  width:500px;
}
#sub{
  margin-top: 60px;
  border: none;
  text-align:left;
  background-color: black;
  color:white;
  font-size:25px;
}
form{
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  width:510px;
  padding:10px;
  text-align:center;
  background: rgba(255, 255, 255, 1);
}
#email{
  margin-top: 50px;
}
#email, #password{
  width:500px;
  height:50px;
  margin-bottom: 50px;

}

p, a{
  font-size:15px;
  text-align:center;
  color:gray;
}

/* responsive, form small screens, use 13px font size */
@media (max-width: 600px) {
  img{
    width:400px;
  }
    body {
        font-size: 13px;
    }
    #email, #password{
      width:400px;
    }
    form{
      margin-top:100px;
      width:410px;
    }
}
