form {
  width:710px;
  padding:10px;
  display: block;
  margin: 20px;
  background: rgba(240, 100, 19, 0.7);
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;

}
body{

}
label{
  width:100%
}
textarea {
  width:100%;
  resize: none;
}

.form-group{
  margin-top:20px;
  width:100%;

}
.btn{
  margin-top:20px
}
p{
  margin-top:-1px;
text-align:right;


}
