
body{
  background-color: #f6f5f3;
}

#cap{
  display:none;
  width:100%;
  height:100%;
  background: rgba(220,220,220,.7);
}
#insta{
  margin-left: 70px;
  margin-top: 100px;
  width:100%;

}
#p{
  background-size: 200px 250px;
  margin-bottom: 50px;
  margin-left: 50px;
  width:200px;
  height:250px;
  float:left;
}

#p:hover #cap{
  margin-top:-16px;
  display:block
}
@media (max-width: 600px) {
  #insta{
    margin-left: 30px;

  }
}
